#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
  border: 8px solid #fff; 
  border-top: 8px solid red; 
  border-radius: 50%;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container {
  position: fixed;
  bottom: 10%;
  left: 70%;
  transform: translateX(-50%);
}
.pagination {

  display: flex;
  width: 100vw;
  align-self: center;

  &  button  {
    cursor: pointer;
    margin: 0 6px;
    padding: 6px;
  }
  &  .activeButton {
    background-color: #04AA6D;
  }
}
#table-data {
  margin: auto;
}
#table-data td, #table-data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-data tr:nth-child(even){background-color: #f2f2f2;}

#table-data tr:hover {background-color: #ddd;}

#table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
